#form_groupADD {
	padding: 60px;
	background-color: #fff;
	max-width: 350px;
	margin: auto;
	position: relative;
}

#nifty_form {
	padding: 60px;
	background-color: #fff;
	max-width: 350px;
	margin: auto;
	position: relative;
}